@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CloudyFont';
  src: url('/fonts/Cloudy-0W244.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'CloudyFont', Fallback, sans-serif;
}

.background--custom {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}

canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(0deg) scale(2) translateY(0%);
  --gradient-color-1: #0d0071;
  --gradient-color-2: #0e00a8;
  --gradient-color-3: #003ea2;
  --gradient-color-4: #0f5ba2;
  --gradient-speed: 0.000002;
}